@{ Layout = "_Layout"; }

@using Library.Models;

<div class = "container">
<h1>Welcome to the Library catalog</h1>
  <hr>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
    <p>@Html.ActionLink("Manage all Books", "Index", "Books")</p>
    </div>
