@{
  Layout = "_Layout";
}

<div class = "container">
  <h2>Manage Accounts</h2>
    <hr>

  @if (User.Identity.IsAuthenticated)
  {
    <div>Hello @User.Identity.Name</div>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn-success" value="Log out" />
    }
  }
  else
  {
    <div>@Html.ActionLink("Register Account", "Register")</div>
    <div>@Html.ActionLink("Log in", "Login")</div>
  }
  <hr>
  <div>@Html.ActionLink("Home", "Index", "Home")</div>
</div>